{% extends "base.html" %}

{% block announce %}
<!-- Add announcement here, including arbitrary HTML -->
<table>
    <tr>
        <td>
            <img src="https://www.cassiopeens.fr/assets/alert-triangle.svg" alt="Alerte info">
        </td>
        <td
            style="color:#FF0000;"><strong>Ajout de la séance du 25 avril 2026 ; Mise à jour des citations (2 et 4 novembre 1994) et des fichiers bonus. Nouvelle url <a href="https://www.cassiopeens.fr">www.cassiopeens.fr</a></strong>
        </td>
    </tr>
</table>
{% endblock %}
