{% extends "base.html" %}

{% block announce %}
<!-- Add announcement here, including arbitrary HTML -->
<table>
    <tr>
        <td>
            <img src="https://www.cassiopeens.fr/assets/alert-triangle.svg" alt="Alerte info">
        </td>
        <td
            style="color:#008000;"><strong>Mise à jour des citations (25 et 28 octobre 1994) et des fichiers bonus. Nouvelle url <a href="https://www.cassiopeens.fr">www.cassiopeens.fr</a></strong>
        </td>
    </tr>
</table>
{% endblock %}
