{% extends "base.html" %}

{% block announce %}
<!-- Add announcement here, including arbitrary HTML -->
<table>
    <tr>
        <td>
            <img src="https://www.cassiopeens.fr/assets/alert-triangle.svg" alt="Alerte info">
        </td>
        <td
            style="color:#FF0000;"><strong>Mise à jour des citations (16 novembre 1994) et des fichiers bonus.
            Ajout de traductions en ligne pour les languages les plus courants (icones à côté du champs de recherche).
            </a></strong>
        </td>
    </tr>
</table>
{% endblock %}
